{% extends "emails/base_email.html" %}
{% block conteudo %}
<p>Olá <strong>Admin</strong>,</p>
<p>Recebemos uma nova mensagem através do formulário de contacto:</p>
<div class="info">
  <strong>👩 Nome:</strong> {{ nome }}<br>
  <strong>📧 E-mail:</strong> {{ email }}<br>
  <strong>📌 Assunto:</strong> {{ assunto }}<br>
  <strong>💬 Mensagem:</strong><br>
  {{ mensagem }}
</div>
<p>Poderá responder diretamente a este e-mail ou visualizar no painel administrativo.</p>
<p style="text-align:center;">
  <a href="https://agenda-beleza.onrender.com/admin_mensagens" class="cta">Abrir Painel</a>
</p>
{% endblock %}
